footer {
	background-color: rgba(0,0,0,0.7);
	width:100%;
	padding: 10px 0;

	p {
		color: white;
	}
}

.new-footer {
	img {
		max-width:100px;
		max-height:80px;
	}
}

.footer-image {
	height:100px;
}